<% @services.each do |service| %>
    <div class="offer-card p-3 mb-3">
      <div class="swiper-slide">
        <h5><%= service.name %></h5>
        <p><%= service.description %></p>
        <p><%= service.offer %></p>
        <h6>AUD <%= service.price %></h6>
      </div>
    </div>
<% end %>
