<div class="container py-5 text-center">
  <h3 class="mb-4">Search results</h3>
  <div class="row">
    <% if @businesses.any? %>
      <% @businesses.each do |business| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= business.name %></h5>
              <p class="card-text"><%= business.description %></p>
              <%= link_to "View Details", business_path(business), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h5>Sorry, no businesses found.</h5>
    <% end %>
  </div>
</div>
