<div class="d-flex justify-content-between align-items-center">
  <span><img src="https://img.icons8.com/color/48/000000/mastercard-logo.png"/> Mastercard (****-3928)</span>
  <span>Due date: May 31, 2023</span>
</div>
