<div class="accordion container py-5" id="faq">
  <h5 class="mb-4">Frequently Asked Questions</h5>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What is Locale?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Locale is a revolutionary booking platform that not only allows users to make quick and easy bookings for services in their local area but also offers additional benefits. With Locale, users receive exclusive offers from businesses based on their proximity. It provides a unique opportunity for local businesses to showcase their services and promote special offers directly on their page. Experience the convenience of seamless bookings and personalized offers with Locale.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        How can I find offers on Locale?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        To find offers on Locale, simply browse through the available categories or use the search function to discover local businesses near you. Once you find a business, you'll be able to view and redeem their exclusive offers on their business page.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How do I create an account on Locale?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         To create an account on Locale, click on the "Login" button on the top right hand corner of the navigation bar, select "Sign Up" and fill out the registration form with your details. You'll need to provide a valid email address and set a password. Once registered, you can access all the features and benefits of Locale.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        How can I leave a review for a business on Locale?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         To leave a review on a business, you must first complete the service or booking. Once the service is complete, navigate to your 'Bookings' page, where you will find a convenient "leave a review" button. Click on the button to access the review form. In the form, provide a name for your review, rate your experience with a star rating out of 5, and share a brief description of your experience. Your valuable feedback helps other users make informed decisions and supports local businesses.
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        What should I do if I encounter a problem with a booking or service?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         If you encounter any issues with a booking or service on Locale, we recommend reaching out to the business directly. They are responsible for managing and addressing customer enquiries and concerns. Contact information for the business should be available on their profile page. Alternatively, you can email our friendly team at info@locale.com with any enquiries.
      </div>
    </div>
  </div>
</div>
