<div class="container my-4">
  <h1 class="text-center mb-5">List your Business with Locale</h1>

  <div class="row">
    <div class="col-md-4">
      <h3>Enhanced Visibility</h3>
      <p>Reach a wider audience and increase your business's visibility by listing your services on BookLocale.</p>
      <i class="fas fa-eye fa-3x text-primary"></i>
    </div>

    <div class="col-md-4">
      <h3>Effortless Bookings</h3>
      <p>Simplify your booking process and save time with our user-friendly platform.</p>
      <i class="fas fa-calendar-check fa-3x text-success"></i>
    </div>

    <div class="col-md-4">
      <h3>Exclusive Offers</h3>
      <p>BookLocale provides special offers exclusively for customers in your community.</p>
      <i class="fas fa-gift fa-3x text-danger"></i>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <h3>Build Trust</h3>
      <p>Showcase your business's reputation and build trust among customers in your local area.</p>
      <i class="fas fa-shield-alt fa-3x text-warning"></i>
    </div>

    <div class="col-md-4">
      <h3>Expand Your Reach</h3>
      <p>Connect with users actively searching for services in your industry and expand your customer base.</p>
      <i class="fas fa-users fa-3x text-info"></i>
    </div>

    <div class="col-md-4">
      <h3>Community Support</h3>
      <p>By supporting local businesses, BookLocale helps strengthen your community and fosters a sense of togetherness.</p>
      <i class="fas fa-hands-helping fa-3x text-success"></i>
    </div>
  </div>

  <div class="text-center mt-5">
    <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
