<div class="container">

  <div class="row my-5">
    <div class="col-8">
      <h1 class="main-message">Booking a local service few steps from you, with extra benefits.</h1>
    </div>

    <div class="search-sec my-5">
      <div class="row">
        <div class="col-lg-6 p-0">
          <%=  form_with url: businesses_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control search-slt",
                  placeholder: "Search for a service..."
            %>
            <%= submit_tag "SEARCH", name: "", class: "btn btn-success wrn-btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <b><h2 id="booking-count"></h2></b>
    </div>
  </div>

  <script>
    const bookingCountElem = document.getElementById("booking-count");
    let bookingCount = 1050;

    setInterval(() => {
      bookingCount += 13;
      bookingCountElem.innerText = `${bookingCount.toString()} appointments booked today`;
    }, 1000);
  </script>
</div>
