.card {
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  color: rgb(66, 65, 65);
}

.card-link:hover {
  border-color: lightgrey;
  color: inherit;
}

.card-title {
  padding: 2px;
}

.card-text {
  padding: 2px;
}

.custom-badge {
  background-color: rgb(184, 82, 82);
  font-family: "Nunito Sans", sans-serif;
  font-weight: inherit;
}

.card-booking {
  width: 600px;
}
