.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(24, 24, 24, 0.65) 0px 2px 3px -1px, rgba(172, 171, 171, 0.08) 0px 1px 0px inset;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-family: "lobster";
  font-size: xx-large;
}
