.all-card {
  display: flex;
  flex-direction: row;
}

.offer-card {
  position: relative;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 5px;
  width: 500px;
}
