.all-card {
  display: flex;
  flex-direction: row;
}

.offer-card {
  position: relative;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 5px;
  width: 500px;
}

// .each-card {
//   justify-content: space-evenly;
//   flex: 2 200px;
// }

.slide-container{
  width: 100%;
  padding: 20px 0;
}

.slide-content{
  margin: 0 10px;
  overflow: hidden;
  border-radius: 15px;
}

.swiper-navBtn{
  color: #484848;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #838383;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #838383;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #484848;
}
