.search-sec {
  margin-top: 5rem;
}

.search-sec .form-control {
  height: 3.5rem;
  border-radius: 2rem;
}

.search-sec .btn {
  height: 3.5rem;
  border-radius: 2rem;
}

.search-sec-nav {
  margin-top: 0rem;
}

.search-sec-nav .form-control {
  height: 2.7rem;
  border-radius: 2rem;
}

.search-sec-nav .btn {
  height: 2.7rem;
  border-radius: 2rem;
}
