<%# <div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title"><%= review.rating</h5> %>
    <%# <p class="card-text"><%= review.description %></p>
    <%# <p class="card-text">Reviewed by <%= review.user.name %></p> %>
  <%# </div> %>
<%# </div> %>
